@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

@using Online_Movie.Repository;
@inject ICategoryReposistory categoryRepository

@using Microsoft.AspNetCore.Identity
@using Online_Movie.Areas.Identity.Data

@inject SignInManager<Online_MovieUser> SignInManager
@inject UserManager<Online_MovieUser> UserManager

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="~/Admin/css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="~/Admin/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="~/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
    </head>

<header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
        <div class="container">
            <h1>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <span class="fa fa-play icon-log"
                          aria-hidden="true"></span>
                    EGS
                </a>
            </h1>
            <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="ViewAllMovies">Movies</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                    </li>
                </ul>

                <!--/search-right-->
                <!--/search-right-->
                <div class="search-right">
                    <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">
                        Category <span class="fa fa-search ml-3" aria-hidden="true"></span>
                    </a>
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            @*<form action="#" method="post" class="search-box">
                            <input type="search" placeholder="Search your Keyword" name="search"
                            required="required" autofocus="">
                            <button type="submit" class="btn">
                            <span class="fa fa-search"
                            aria-hidden="true"></span>
                            </button>
                            </form>*@
                            <div class="browse-items">
                                <ul class="search-items">
                                    @foreach (var item in categoryRepository.GetAll())
                                    {
                                        <li><a asp-controller="Home" asp-action="findMoviesByCategoryId" asp-route-id="@item.CategoryId">@item.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                    <!-- /search popup -->
                    <!--/search-right-->
                </div>
                <div class="Login_SignUp" id="login" style="font-size: 2rem ; display: inline-block; position: relative;">
                    <!-- <li class="nav-item"> -->
                    <a href="/Identity/Account/Login" class="nav-link"><i class="fa fa-user-circle-o"></i></a>
                    <!-- </li> -->
                </div>

            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</header>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" id="account" method="post">
                                <fieldset>
                                    <div class="form-group">
                                         <input asp-for="Input.Email" placeholder="E-mail" class="form-control" />
                                         <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        @*<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">*@
                                    </div>
                                    <div class="form-group">
                                        @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                                         <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                                         <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                   @* <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                    </div>*@
                                    <div>
                                    <a href="/Identity/Account/Register">Sign up ?</a>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    @*<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>*@

                                     <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="~/Admin/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/Admin/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/Admin/js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="~/Admin/js/startmin.js"></script>

    


</body></html>


<!--/theme-change-->
<script src="~/assets/js/theme-change.js"></script>
<script src="~/assets/js/owl.carousel.js"></script>


@*
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
